# Unified-diff context lines are one literal space; preserve upstream patch bytes.
*/defect.patch whitespace=-blank-at-eol
# Preserve the exact upstream license bytes, including its final blank line.
textfsm/upstream/LICENSE.txt whitespace=-blank-at-eof
